# URL for Mozilla crash report service
mozcrash = 'https://crash-reports.mozilla.com/submit'

# Auth token for Backtrace
backtrace_token = ''

# Submission URL for Backtrace
backtrace_url = 'https://submit.backtrace.io/thunderbird/' + backtrace_token + 'minidump'
