{% extends "crashstats_base.html" %}

{% block summary_page_tags %}
  <meta property="og:title" content="{{ report.uuid }} [@{{ report.signature }}]">
  <meta property="og:url" content="">
  <meta property="og:description" content="In {{ report.product }} {{ report.version }} ({{ report.release_channel }}) {{ report.build }}">
{% endblock %}

{% block site_css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/jsonview.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/tablesorter.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block site_js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/jsonview.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-tablesorter.min.js') }}"></script>
{% endblock %}

{% block page_title %}[@ {{ report.signature }}] - {{ report.product }} {{ report.version }} Crash Report - Report ID: {{ report.uuid }}{% endblock %}

{% block content %}
  <div id="mainbody"
    data-product="{{ report.product }}"
    data-version="{{ report.version }}"
    data-platform="{{ report.os_name or '' }}"
    data-signature="{{ report.signature }}"
    data-channel="{{ report.release_channel }}"
  >
    <div class="page-heading">
      <h2>{{ report.product }} {{ report.version }} Crash Report [@ {{ report.signature }} ]</h2>
    </div>

    <div class="panel">
      <div class="body">
        {# Header #}

        <div id="sumo-link">
          <a href="" title="Find more answers at support.mozilla.org!">Search Mozilla Support for this signature</a>
          <a href="https://developer.mozilla.org/en-US/docs/Understanding_crash_reports" title="MDN documentation about crash reports">How to read this crash report</a>
        </div>
        <div id="report-header-details">
          ID: <code>{{ report.uuid }}</code><br/>
          Signature: <code>{{ report.signature }}</code>
        </div>

        {# Report-index #}

        <div id="report-index" class="no-border ui-tabs ui-widget ui-widget-content ui-corner-all">
          <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top">
              <a href="#details" class="ui-tabs-anchor"><span>Details</span></a>
            </li>
            <li class="ui-state-default ui-corner-top">
              <a href="#annotations" class="ui-tabs-anchor"><span>Crash Annotations</span></a>
            </li>
            <li class="ui-state-default ui-corner-top">
              <a href="#bugzilla" class="ui-tabs-anchor"><span>Bugzilla</span></a>
            </li>
            <li class="ui-state-default ui-corner-top">
              <a href="#extensions" class="ui-tabs-anchor"><span>Extensions</span></a>
            </li>
            <li class="ui-state-default ui-corner-top">
              <a href="#telemetryenvironment" class="ui-tabs-anchor"><span>Telemetry Environment</span></a>
            </li>
          </ul>

          <div id="details" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            <table class="record data-table vertical hardwrapped">
              <tbody>

                {# Crash Annotations #}

                <tr title="{{ fields_desc['signature'] }}">
                  <th scope="row">Signature</th>
                  <td>
                    {{ report.signature }}
                    <a href="" class="sig-overview" title="View more reports of this type">More Reports</a>
                  </td>
                </tr>
                <tr title="{{ fields_desc['uuid'] }}">
                  <th scope="row">UUID</th>
                  <td>{{ report.uuid }}</td>
                </tr>
                <tr title="{{ fields_desc['date_processed'] }}">
                  <th scope="row">Date Processed</th>
                  <td>
                    {% if report.date_processed %}
                      {{ report.date_processed | human_readable_iso_date }} UTC
                    {% endif %}
                  </td>
                </tr>

                {# Times #}

                <tr title="{{ fields_desc['uptime'] }}">
                  <th scope="row">Uptime</th>
                  <td>
                    {{ report.get('uptime') }}
                  </td>
                </tr>
                {% if report.last_crash %}
                  <tr title="{{ fields_desc['SecondsSinceLastCrash'] }}">
                    <th scope="row">Last Crash</th>
                    <td>
                      {{ report.get('SecondsSinceLastCrash') }}
                    </td>
                  </tr>
                {% endif %}
                {% if report.install_age %}
                  <tr title="{{ fields_desc['install_age'] }}">
                    <th scope="row">Install Age</th>
                    <td>
                      {{ report.get('install_age') }}
                    </td>
                  </tr>
                {% endif %}
                <tr title="{{ fields_desc['InstallTime'] }}">
                  <th scope="row">Install Time</th>
                  <td>
                    {% if report.InstallTime %}
                      {{ report.InstallTime | timestamp_to_date }}
                    {% endif %}
                  </td>
                </tr>

                {# Product #}

                <tr title="{{ fields_desc['product'] }}">
                  <th scope="row">Product</th>
                  <td>{{ report.product }}</td>
                </tr>
                <tr title="{{ fields_desc['ReleaseChannel'] }}">
                  <th scope="row">Release Channel</th>
                  <td>{{ report.ReleaseChannel }}</td>
                </tr>
                <tr title="{{ fields_desc['processed_crash.version'] }}">
                  <th scope="row">Version</th>
                  <td>{{ report.version }}</td>
                </tr>
                <tr title="{{ fields_desc['processed_crash.build'] }}">
                  <th scope="row">Build ID</th>
                  <td>
                    {{ report.buildid }}
                    <span class="humanized">({{ report.buildid }})</span>
                      <a href="{{ buildhub_url }}" class="sig-overview" title="Buildhub data">Buildhub data</a>
                  </td>
                </tr>

                {# OS #}

                <tr title="{{ fields_desc['os_name'] }}">
                  <th scope="row">OS</th>
                  <td>{{ report.os_name }}</td>
                </tr>
                <tr title="{{ fields_desc['processed_crash.os_version'] }}">
                  <th scope="row">OS Version</th>
                  <td>{{ report.os_version }}</td>
                </tr>
                {% if report.windows_error_reporting == "1" %}
                  <tr title="{{ fields_desc['WindowsErrorReporting'] }}">
                    <th scope="row">Windows Error Reporting</th>
                    <td>
                      <pre>{{ report.WindowsErrorReporting }}</pre>
                    </td>
                  </tr>
                {% endif %}

                {# Hardware #}

                <tr title="{{ fields_desc['cpu_arch'] }}">
                  <th scope="row">Build Architecture</th>
                  <td>{{ report.cpu_arch }}</td>
                </tr>
                <tr title="{{ fields_desc['cpu_info'] }}">
                  <th scope="row">CPU Info</th>
                  <td>
                    {% if report.cpu_info %}
                      {{ report.cpu_info }}
                    {% endif %}
                  </td>
                </tr>
                <tr title="{{ fields_desc['cpu_count'] }}">
                  <th scope="row">CPU Count</th>
                  <td>
                    {{ report['cpu.count'] }}
                  </td>
                </tr>
                <tr title="{{ fields_desc['AdapterVendorID'] }}">
                  <th scope="row">Adapter Vendor ID</th>
                  <td>
                    {% if report.AdapterVendorName %}
                      <pre>{{ report.AdapterVendorName }} ({{ report.AdapterVendorID }})</pre>
                    {% else %}
                      <pre>{{ report.AdapterVendorID }}</pre>
                    {% endif %}
                  </td>
                </tr>
                <tr title="{{ fields_desc['raw_crash.AdapterDeviceID'] }}">
                  <th scope="row">Adapter Device ID</th>
                  <td>
                    {% if report.AdapterDeviceName %}
                      <pre>{{ report.AdapterDeviceName }} ({{ report.AdapterDeviceID }})</pre>
                    {% else %}
                      <pre>{{ report.AdapterDeviceID }}</pre>
                    {% endif %}
                  </td>
                </tr>

                {# Crash circumstances #}

                {% if report.StartupCrash %}
                  <tr title="{{ fields_desc['raw_crash.StartupCrash'] }}">
                    <th scope="row">Startup Crash</th>
                    <td>
                      <pre>{{ booleanish_to_boolean(report.StartupCrash) }}</pre>
                    </td>
                  </tr>
                {% endif %}
                <tr title="{{ fields_desc['MozCrashReason'] }}">
                    <th scope="row">MOZ_CRASH Reason </th>
                    <td><pre>{{ report.MozCrashReason }}</pre></td>
                  </tr>
                <tr title="{{ fields_desc['processed_crash.reason'] }}">
                  <th scope="row">Crash Reason</th>
                  <td>{{ report.classifiers }}</td>
                </tr>
                <tr title="{{ fields_desc['address'] }}">
                  <th scope="row">Crash Address</th>
                  <td>{{ report.address }}</td>
                </tr>

                {# Memory usage #}

                {% if report.TotalVirtualMemory %}
                  <tr title="{{ fields_desc['TotalVirtualMemory'] }}">
                    <th scope="row">Total Virtual Memory</th>
                    <td>
                      {{ show_filesize(report.get('TotalVirtualMemory')) }}
                    </td>
                  </tr>
                {% endif %}
                {% if raw.AvailableVirtualMemory %}
                  <tr title="{{ fields_desc['AvailableVirtualMemory'] }}">
                    <th scope="row">Available Virtual Memory</th>
                    <td>
                      {{ show_filesize(report.get('AvailableVirtualMemory')) }}
                    </td>
                  </tr>
                {% endif %}
                {% if raw.AvailablePageFile %}
                  <tr title="{{ fields_desc['AvailablePageFile'] }}">
                    <th scope="row">Available Page File</th>
                    <td>
                      {{ show_filesize(report.get('AvailablePageFile')) }}
                    </td>
                  </tr>
                {% endif %}
                {% if raw.AvailablePhysicalMemory %}
                  <tr title="{{ fields_desc['AvailablePhysicalMemory'] }}">
                    <th scope="row">Available Physical Memory</th>
                    <td>
                      {{ show_filesize(report.get('AvailablePhysicalMemory')) }}
                    </td>
                  </tr>
                {% endif %}
                {% if raw.SystemMemoryUsePercentage %}
                  <tr title="{{ fields_desc['SystemMemoryUsePercentage'] }}">
                    <th scope="row">System Memory Use Percentage</th>
                    <td>
                      {{ report.SystemMemoryUsePercentage }}
                    </td>
                  </tr>
                {% endif %}
                {% if raw.OOMAllocationSize %}
                  <tr title="{{ fields_desc['OOMAllocationSize'] }}">
                    <th scope="row">OOM Allocation Size</th>
                    <td>
                      {{ show_filesize(report.get('OOMAllocationSize')) }}
                    </td>
                  </tr>
                {% endif %}

                {# Miscellaneous #}

                {% if raw.Accessibility %}
                  <tr title="{{ fields_desc['Accessibility'] }}">
                    <th scope="row">Accessibility</th>
                    <td>
                      <pre>{{ report.Accessibility }}</pre>
                    </td>
                  </tr>
                {% endif %}
                <tr title="{{ fields_desc['processed_crash.addons_checked'] }}">
                  <th scope="row">EMCheckCompatibility</th>
                  <td>
                    <pre>{% if report.addons_checked %}True{% else %}False{% endif %}</pre>
                  </td>
                </tr>
              </tbody>
            </table>

            {% if parsed_dump.threads %}
              <div id="frames">
                {% if crashing_thread is not none %}
                  <h2>Crashing Thread ({{ crashing_thread }}){% if parsed_dump.threads[crashing_thread].thread_name %}, Name: {{ parsed_dump.threads[crashing_thread].thread_name }}{% endif %}</h2>
                  <table class="data-table">
                    <thead>
                      <tr>
                        <th scope="col">Frame</th>
                        <th scope="col">Module</th>
                        <th class="signature-column" scope="col">Signature</th>
                        <th scope="col">Source</th>
                        <th scope="col">Trust</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for frame in parsed_dump.threads[crashing_thread].frames %}
                        <tr class="{% if frame.missing_symbols %}missingsymbols{% endif %}">
                          <td>
                            {% if frame.missing_symbols %}
                              <span class="row-notice" title="missing symbol">&Oslash;</span>
                            {% endif %}
                            {{ frame.frame }}
                          </td>
                          <td>{{ frame.module }}</td>
                          <td title="{{ frame.signature }}">{{ frame.signature }}</td>
                          <td>
                            {% if frame.source_link %}
                              <a href="{{ frame.source_link }}">{{ frame.file }}:{{ frame.line }}</a>
                            {% else %}
                              {% if frame.file %}{{ frame.file }}:{{ frame.line }}{% endif %}
                            {% endif %}
                          </td>
                          <td>{{ frame.trust }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <p>
                    <a href="#allthreads" data-show="Show other threads" data-hide="Hide other threads">Show other threads</a>
                  </p>
                {% endif %}

                <div id="allthreads" class="{{ 'hidden' if crashing_thread is not none }}">
                  {% for thread in parsed_dump.threads %}
                    {% if thread.thread != crashing_thread %}
                      <h2>Thread {{ thread.thread }}{% if thread.thread_name %}, Name: {{ thread.thread_name }}{% endif %}</h2>
                      <table class="data-table">
                        <thead>
                          <tr>
                            <th scope="col">Frame</th>
                            <th scope="col">Module</th>
                            <th class="signature-column" scope="col">Signature</th>
                            <th scope="col">Source</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for frame in thread.frames %}
                            <tr class="{% if frame.missing_symbols %}missingsymbols{% endif %}">
                              <td>
                                {% if frame.missing_symbols %}
                                  <span class="row-notice" title="missing symbol">&Oslash;</span>
                                {% endif %}
                                {{ frame.frame }}
                              </td>
                              <td>{{ frame.module }}</td>
                              <td title="{{ frame.signature }}">{{ frame.signature }}</td>
                              <td>
                                {% if frame.source_link %}
                                  <a href="{{ frame.source_link }}">{{ frame.file }}:{{ frame.line }}</a>
                                {% else %}
                                  {{ frame.file }}{% if frame.line %}:{{ frame.line }}{% endif %}
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <!-- /frames -->
            {% endif %}
          </div>
          <!-- /details -->

          <div id="annotations" class="ui-tabs-hide">
            <div>
              These are the crash annotations from the submitted crash report. You
              can see the annotations and descriptions at <a href="https://hg.mozilla.org/mozilla-central/file/tip/toolkit/crashreporter/CrashAnnotations.yaml">https://hg.mozilla.org/mozilla-central/file/tip/toolkit/crashreporter/CrashAnnotations.yaml</a>.
            </div>
            <div>
              <h2>Public data</h2>
            </div>
            <div>
              These are the crash annotations from the submitted crash report
              that do not contain protected data.
            </div>
            <table class="record data-table vertical hardwrapped">
              <tbody>
                {% for key in public_raw_keys %}
                  <tr title="{{ fields_desc.get(key) }}">
                    <th scope="row">
                      {% if key %}
                        {{ key }}
                      {% else %}
                        <i>empty key</i>
                      {% endif %}
                    </th>
                    <td><pre>{{ raw[key] }}</pre></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          <!-- /#annotations -->
          {#
          <div id="bugzilla" class="ui-tabs-hide">
            <div class="bugreporter">
              <p>
                <b>Create a bug:</b>
                {% for text, template in product_details.bug_links %}
                  <a href="{{ generate_create_bug_url(request, template, raw, report, parsed_dump, crashing_thread) }}" target="_blank">{{ text }}</a>
                  {% if not loop.last %}|{% endif %}
                {% endfor %}
              </p>

              <h2>Related Bugs</h2>
              <div class="bug_ids_expanded_list">
                <ul class="bug_ids_expanded full_bug_ids full">
                  {% for bug in bug_associations %}
                    <li>{{ show_bug_link(bug.bug_id) }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          #}
          <!-- /bugzilla -->

          <div id="extensions" class="ui-tabs-hide">
            {% if report['Add-ons'] %}
              <table class="data-table">
                <thead>
                  <tr>
                    <th scope="col">Extension Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Version</th>
                    <th scope="col">System?</th>
                    <th scope="col">Signed state</th>
                  </tr>
                </thead>
                <tbody>
                  {% for addon in report['Add-ons'] %}
                    <tr>
                      <td>{{ addon.id or "" }}</td>
                      <td>{{ addon.name or "" }}</td>
                      <td>{{ addon.version or "" }}</td>
                      <td>{{ addon.is_system or "" }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p>No extensions were installed.</p>
            {% endif %}
          </div>
          <!-- /extensions -->

          <div id="telemetryenvironment" class="ui-tabs-hide">
            {% if report.TelemetryEnvironment %}
              {# Remember, report.TelemetryEnvironment is a string.
                 jQuery will automatically convert it to a map upon accessing it.
                 Safe to include because jinja will escape anything in it. #}
              <div id="telemetryenvironment-json" data-telemetryenvironment="{{ report.TelemetryEnvironment }}"></div>
            {% else %}
              <p>No telemetry environment data available.</p>
            {% endif %}
          </div>
          <!-- /telemetryenvironment -->
        </div>
        <!-- /report-index -->
      </div>
    </div>
  </div>
{% endblock %}
